
.appointments{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.clinic-detail{
    display:flex;
    justify-content: space-between;    
}

.Home-message{
    margin-bottom:10px;
}

.Title{
    padding:10px;
}






